<h3>Source Code</h3>

<p>The source code for this application is available in <a href="https://github.com/FlyersWeb/typescript-bootstrap">this
    repository</a> on GitHub.</p>

<h3>Comments and Questions</h3>

<p>You can post your questions and comments on the blog post associated with this application.</p>

<h3>Related Article</h3>

<p>
    I've made a post in order to explain why people should use TypeScript and the MVC model in order to improve their software
    quality and maintenance. <a href="http://www.flyers-web.org/blog/programmation/get-your-front-end-to-the-next-level-with-typescript-backbone-350">Here it is</a>.
</p>
<p>
Thanks,<br>
<br>
<strong>Nassim Ben Ghmiss</strong><br>
Twitter: @flyersweb<br>
Blog: <a href="http://blog.flyers-web.org">http://blog.flyers-web.org</a>
</p>
